.header {
    background: $dark-blue;
    color:white;
    height: 35px;
    line-height: 35px;
    align-items: center;
  }
  
  .header__content {
    height: 35px;
    line-height: 35px;
    align-items: center;
    display: flex;
    //justify-content: space-between;
    //padding: $s-size 0;
  }
  
  .header__title {
    text-decoration: none;
  }
  