html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

h1,h2 {
  color:deepskyblue;
  margin-left: 15px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

  .normal {
    text-decoration: none;
    color: #fff;
  }

  .is-active {
    text-decoration: none;
    color: red;
  }

  .normalsm {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }


  .actionButton {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      //display: inline-block;
      white-space: normal;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 4px;
      cursor: pointer;
      //padding: 32px 2px;
      width: 24%;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      box-shadow:0 8px 10px 0 rgba(0,0,0,0.2),0 8px 20px 0 rgba(0,0,0,0.19);
  }
  
  .actionButton:hover {
    background-color: #4CAF50; /* Green */
    color:lightblue;
}

input[type=text], input[type=number], input[type=date] {
  border: none;
  border-bottom: 2px solid lightseagreen;
  margin:8px;
}

.card-4,.hover-shadow:hover{
  box-shadow:0 8px 10px 0 rgba(0,0,0,0.2),0 8px 20px 0 rgba(0,0,0,0.19);
  width:94%;
  margin: 3%;
}

.bggreen,.w3-hover-green:hover{
  color:#fff!important;
  background-color:#4CAF50!important;
  padding:0.01em 16px;
}

.horIndent{
  display:inline-block; 
  width: 20px;
}

.verIndent{
  display:block; 
  height: 10px;
}

.verIndentFive{
  display:block; 
  height: 5px;
}

.boxed {
  width: 96%;
  border: green solid 2px;
  padding: 5px;
  margin: 5px;
  margin-left: 2%;
  //background: #d8d1d1 !important;
  color: green;
  /* font-size: 18px; */
  text-align: left;
  border-radius: 2px;
}

.boxedtransp {
  width: 96%;
  border: green solid 2px;
  padding: 5px;
  margin: 5px;
  margin-left: 2%;
  //background: #d8d1d1 !important;
  color: green;
  /* font-size: 18px; */
  text-align: left;
  border-radius: 2px;
  opacity: 0.85;
}

/* BUTTONS */

.btn {
	border-radius: 0px;
}


.button {
   
    //border:  rgb(48, 190, 238) solid 1px; 
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: rgb(48, 190, 238); 
    color: white;
}

.button1:hover {
  //background-color: rgb(48, 190, 238); 
    //color: #99cc33;
    box-shadow:0 8px 10px 0 rgba(0,0,0,0.2),0 8px 20px 0 rgba(0,0,0,0.19);
}
    
.button2 {
  background-color: rgb(48, 190, 238); 
  color: white;
}

.button2:hover {
  //background-color: rgb(48, 190, 238); 
    //color: #ff6600;
    box-shadow:0 8px 10px 0 rgba(0,0,0,0.2),0 8px 20px 0 rgba(0,0,0,0.19);
}

.buttonwide {
  padding: 10px;
}

// .button1 {background-color: #4CAF50;} /* Green */
// .button2 {background-color: #008CBA;} /* Blue */
// .button3 {background-color: #f44336;} /* Red */ 
// .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
// .button5 {background-color: #555555;} /* Black */

.postingNote {color: red; }

.warning {color: red; font-size: 14px}

.postLineList {color: green; font-size: 14px}

a.addn{
	color: white;
	font-size: 14px;
}

a.addn:link {
    text-decoration: none;
}

a.addn:visited {
    text-decoration: none;
}

a.addn:hover {
  color: deepskyblue;
	transition-duration: 0.4s;
  font-size: 14px;
  text-decoration: none;
}

a.addn:active {
    text-decoration: none;
}

a.addnlightbg{
	color: lightslategray;
	font-size: 14px;
}

a.addnlightbg:link {
    text-decoration: none;
}

a.addnlightbg:visited {
    text-decoration: none;
}

a.addnlightbg:hover {
  color: deepskyblue;
	transition-duration: 0.4s;
  font-size: 14px;
  text-decoration: none;
}

a.addnlightbg:active {
    text-decoration: none;
}

.black{color: black}

.numberWidth{width: 120px;}

.smalltext {font-size: 12px; margin-left: 15px}

.text14white {font-size: 14px; margin-left: 15px;color: white;}

.text14black {font-size: 14px; margin-left: 10px;color: black;}
